# Backend
skyship-backend/node_modules/
skyship-backend/.env

# Frontend
skyship-frontend/node_modules/
skyship-frontend/.env
skyship-frontend/dist/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/